<!-- Monster Stat Block in style of d20srd.org -->
{% comment requests from view: monster dictionary with keys: name, size, type, (subtypes), hd_number, hd_type, con_mod, extra_hp, hp_average, initiative, speed[], ac, armor[], ac_touch, ac_flat, bab, grapple, attack, space, reach, attacks_special[], qualities_special[], fortitude, reflex, will, strength, dexterity, consitution, intelligence, wisdom, charisma, skills[{name, modifier}], feats, environment, organisation, cr, treasure, alignment, advancement, lvl_adj {% endcomment %}
  <h2>{{ monster.name }}</h2>
  <table class="srdStatBlock">
  <tr>
    <th>Size/Type:</th>
    <td>{{ monster.size }} {{ monster.type }} {% if monster.subtypes %}
      ({% for subtype in monster.subtypes %}{{ subtype }}, {% endfor %}){% endif %}</td>
  </tr>
  <tr>
    <th>Hit Dice:</th>
    <td>{{ monster.hd_number }}d{{ monster.hd_type }}+{{ monster.con_mod + monster.extra_hp }} ({{ monster.hp_average }} hp)</td>
  </tr>
  <tr>
    <th>Initiative:</th>
    <td>{{ monster.intiative }}</td>
  </tr>
  <tr>
		<th>Speed:</th>
		<td>{{ monster.speed[0] }} ft. (6 squares)</td>
	</tr>
	<tr>
		<th>Armor Class:</th>
		<!-- monster.armor would be a list of armor ex. +x natural +y breastplate -->
		<td>{{ monster.ac }} ({{ monster.armor }}), touch {{ monster.ac_touch }}, {{ monster.ac_flat }}</td>
	</tr>
	<tr>
		<th>Base Attack/Grapple:</th>
		<td>{{ monster.bab }}/{{ monster.grapple }}</td>
	</tr>
	<tr>
		<th>Attack:</th>
		<!-- monster.armor would be a list of attacks ex. <weapon> +x melee/ranged (1dy+z/a) -->
		<td>{{ monster.attack }}</td>
	</tr>
	<tr>
		<th>Full Attack:</th>
		<td></td>
	</tr>
	<tr>
		<th>Space/Reach:</th>
		<td>{{ monster.space }} ft./{{ monster.reach }} ft.</td>
	</tr>
	<tr>
		<th>Special Attacks:</th>
		<td>{{ monster.attacks_special }}</td>
	</tr>
	<tr>
		<th>Special Qualities:</th>
		<td>{{ monster.qualities_special }}</td>
	</tr>
	<tr>
		<th>Saves:</th>
		<td>Fort {% if monster.fortitude >= 0 %}+{% endif %}{{ monster.fortitude }}, Ref {% if monster.reflex >= 0 %}+{% endif %}{{ monster.reflex }}, Will {% if monster.will >= 0 %}+{% endif %}{{ monster.will }}</td>
	</tr>
	<tr>
		<th>Abilities:</th>
		<td>Str {{ monster.strength }}, Dex {{ monster.dexterity }}, Con {{ monster.constitution }}, Int {{ monster.intelligence }}, Wis {{ monster.wisdom }}, Cha {{ monster.charisma }}</td>
	</tr>
	<tr>
		<th>Skills:</th>
		<td>{% for skill in skills %} {{ skill.name }} {% if skill.modifier >= 0 %}+{% endif %}{{ skill.modifier }} {% endfor %}</td>
	</tr>
	<tr>
		<th>Feats:</th>
		<td>{{ monster.feats }}</td>
	</tr>
	<tr>
		<th>Environment:</th>
		<td>{{ monster.environment }}</td>
	</tr>
	<tr>
		<th>Organization:</th>
		<td>{{ monster.organisation }}</td>
	</tr>
	<tr>
		<th>Challenge Rating:</th>
		<td>{{ monster.cr }}</td>
	</tr>
	<tr>
		<th>Treasure:</th>
		<td>{{ monster.treasure }}</td>
	</tr>
	<tr>
		<th>Alignment:</th>
		<td>{{ monster.alignment }}</td>
	</tr>
	<tr>
		<th>Advancement:</th>
		<td>{{ monster.advancement }}</td>
	</tr>
	<tr>
		<th>Level Adjustment:</th>
		<td>{{ monster.lvl_adj }}</td>
	</tr>
</table>
