<!-- Monster Stat Block in style of d20srd.org -->
{% comment requests from view: monster dictionary with keys: name, size, type, (subtypes), hd_number, hd_type, con_mod, extra_hp, hp_average, initiative, speed[], ac, armor[], ac_touch, ac_flat, bab, grapple, attack, space, reach, attacks_special[], qualities_special[], fortitude, reflex, will, strength, dexterity, consitution, intelligence, wisdom, charisma, skills[{name, modifier}], feats, environment, organisation, cr, treasure, alignment, advancement, lvl_adj {% endcomment %}
  <h2>{{ monster.name }}</h2>
  <table class="srdStatBlock">
  <tr>
    <th>Size/Type:</th>
    <td>{{ monster.size }} {{ monster.monstertype }} {% if monster.subtypes %}
      ({% for subtype in monster.subtypes %}{{ subtype }}, {% endfor %}){% endif %}</td>
  </tr>
  <tr>
    <th>Hit Dice:</th>
    <td>{{ monster.hd_number }}d{{ monster.monstertype.hd_type }}+{{ floor(monster.constitution[1] * monster.hd_number) + monster.bonus_hp }} ({{ monster.hp_average }} hp)</td>
  </tr>
  <tr>
    <th>Initiative:</th>
    <td>{{ monster.intiative }}</td>
  </tr>
  <tr>
		<th>Speed:</th>
		<!-- TODO: create template tag filter 'divide' -->
		<td>{{ monster.speed }} ft. ({{ monster.speed|divide_by:'5' }} squares)
		  {% if monster.speed_burrow>0 %}, burrow {{ monster.speed_burrow }} ft.{% endif %}
		  {% if monster.speed_climb>0 %}, climb {{ monster.speed_climb }} ft.{% endif %}
		  {% if monster.speed_fly>0 %}, fly {{ monster.speed_fly }} ft. ({{ monster.speed_fly_maneuverability }}){% endif %}
		  {% if monster.speed_swim>0 %}, swim {{ monster.speed_swim }} ft.{% endif %}
		</td>
	</tr>
	<tr>
		<th>Armor Class:</th>
		<!-- monster.armor would be a list of armor ex. +x natural +y breastplate -->
		<td>{{ 10 + monster.natural_armor + monster.manufactured_armor.armor_bonus + monster.shield.armor_bonus + monster.deflection_bonus + monster.dexterity[1] }} ({{ monster.armor }}), touch {{ 10 + monster.deflection_bonus + monster.dexterity[1] }}, flat-footed {{ 10 + monster.natural_armor + monster.manufactured_armor.armor_bonus + monster.shield.armor_bonus + monster.deflection_bonus }}</td>
	</tr>
	<tr>
		<th>Base Attack/Grapple:</th>
		<td>{{ monster.bab }}/{{ monster.bab + monster.strength[1] + monster.size * -4 }}</td>
	</tr>
	<tr>
		<th>Attack:</th>
		<!-- monster.armor would be a list of attacks ex. <weapon> +x melee/ranged (1dy+z/a) -->
		<td>{% for attack in monster.attacks %}{{ attack }}{% endfor %}</td>
	</tr>
	<tr>
		<th>Full Attack:</th>
		<td></td>
	</tr>
	<tr>
		<th>Space/Reach:</th>
		<td>{{ monster.space }} ft./{{ monster.reach }} ft.</td>
	</tr>
	<tr>
		<th>Special Attacks:</th>
		<td>{% for attack in monster.special_attacks %}{{ attack }}{% endfor %}</td>
	</tr>
	<tr>
		<th>Special Qualities:</th>
		<td>{% for quality in monster.special_qualities %}{{ quality }}{% endfor %}</td>
	</tr>
	<tr>
		<th>Saves:</th>
		<td>Fort {{ monster.fortitude_save|add_modifier_sign }}, Ref {{ monster.reflex_save|add_modifier_sign }}, Will {{ monster.will_save|add_modifier_sign }}</td>
	</tr>
	<tr>
		<th>Abilities:</th>
		<td>Str {{ monster.strength[0] }}, Dex {{ monster.dexterity[0] }}, Con {{ monster.constitution[0] }}, Int {{ monster.intelligence[0] }}, Wis {{ monster.wisdom[0] }}, Cha {{ monster.charisma[0] }}</td>
	</tr>
	<tr>
		<th>Skills:</th>
		<td>{% for skill in skills %} {{ skill.name }} {{ skill.modifier|add_modifier_sign }} {% endfor %}</td>
	</tr>
	<tr>
		<th>Feats:</th>
		<td>{% for feat in monster.feats %}{{ feat }}{% endfor %}</td>
	</tr>
	<tr>
		<th>Environment:</th>
		<td>{{ monster.environment }}</td>
	</tr>
	<tr>
		<th>Organization:</th>
		<td>{{ monster.organisation }}</td>
	</tr>
	<tr>
		<th>Challenge Rating:</th>
		<td>{{ monster.cr }}</td>
	</tr>
	<tr>
		<th>Treasure:</th>
		<td>{{ monster.treasure }}</td>
	</tr>
	<tr>
		<th>Alignment:</th>
		<td>{{ monster.alignment }}</td>
	</tr>
	<tr>
		<th>Advancement:</th>
		<td>{{ monster.advancement }}</td>
	</tr>
	<tr>
		<th>Level Adjustment:</th>
		<td>{{ monster.lvl_adj }}</td>
	</tr>
</table>
