{% extends 'blog/base.html' %}
{% load statblockfilters %}
{% block headerscript %}
{% endblock %}
{% block content %}
<!-- TODO: add feats, reach -->
<div id="app">
<h1>Monster Builder V4</h1>
<form method="POST" name="monsterForm" action="/monsterbuilder/">
{% csrf_token %}
  <label for="name">Name</label>
  <input type="text" id="name" name="monster_name" maxlength="60" id="name"  v-model="monsterName">
  <br>
  {% if user.is_authenticated %}
  <button type="submit" name="action_button" value="save">Save</button>
  {% endif %}
  <button type="submit" name="action_button" value="show">Show Statblock</button>
  <fieldset name="basics">
    <legend>Basics</legend>
    <select id="monstertype" name="monstertype" v-model="monsterType" @change.prevent="assignType">
        <!-- Add way to keep selected type selected -->
        <option selected disabled>Type</option>
        {% for x in monstertypes %}
          <option value="{{ x.name }}">{{ x.name|title }}</option>
        {% endfor %}
    </select>
    <br>
    <!-- TODO: subtypes -->
    <label for="size">Size</label>
    <select id="size" name="size" v-model="monsterSize">
        <option value="fine">Fine</option>
        <option value="diminutive">Diminutive</option>
        <option value="tiny">Tiny</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="huge">Huge</option>
        <option value="gargantuan">Gargantuan</option>
        <option value="colossal">Colossal</option>
    </select>
    <br>
    <label for="hd_number">Hit Dice</label>
    <label for="hd_fraction">Click if the number of Hit Dice is a fraction. Then enter the denominator.</label>
    <input type="checkbox" id="hd_fraction" name="hd_fraction" v-model="hdFraction">
    <input type="number" id="hd_number" name="hd_number" min="0" v-model="hdNumber">
    HD: {% verbatim %}{{ hitDice }} + {{ constitutionModifier * hdCalc }}
    <br>
    Initiative: {{ initiativeModifier }}{% endverbatim %}
  </fieldset>
  <fieldset name="speed">
      <legend>Speed</legend>
            <label for="speed">speed</label>
            <input type="number" id="speed" name="speed" min="0">
            <label for="burrow_speed">burrow</label>
            <input type="number" id="burrow_speed" name="burrow_speed" min="0">
            <label for="climb_speed">climb</label>
            <input type="number" id="climb_speed" name="climb_speed" min="0">
            <label for="fly_speed">fly</label>
            <input type="number" id="fly_speed" name="fly_speed" min="0" v-model="flySpeed">
            <label for="fly_maneuverability" v-show="flySpeed>0">Maneuverability</label>
            <select  id="fly_maneuverability" name="fly_maneuverability" v-show="flySpeed>0">
              <option selected disabled>Maneuverability</option>
              <option value="perfect">Perfect</option>
              <option value="good">Good</option>
              <option value="average">Average</option>
              <option value="poor">Poor</option>
              <option value="clumsy">Clumsy</option>
            </select>
            <label for="swim_speed">swim</label>
            <input type="number" id="swim_speed" name="swim_speed" min="0">
            <!-- TODO: space and reach -->
  </fieldset>
  <fieldset name="scores">
      <legend>Ability Scores and Saves</legend>
      <!-- TODO: Option for non-existant score -->
      {% verbatim %}
      <table>
        <tr>
          <td>
            <label for="strength">Strength</label><br>
            <input type="number" id="strength" name="strength" min="0" v-model="strengthScore">
             ({{ strengthModifier }})
          </td>
          <td>
            <label for="dexterity">Dexterity</label><br>
            <input type="number" id="dexterity" name="dexterity" min="0" v-model="dexterityScore">
             ({{ dexterityModifier }})<sup v-if="maxDexBonus">Max. DEX bonus</sup>
          </td>
	      <td>
	        <label for="constitution">Constitution</label><br>
              <!-- constructs and undead do no have constitution scores -->
              <!-- Hide if construct or undead (so form can still take value), but just show - to user? -->
            <input v-if="monsterType==='construct' || monsterType==='undead'" type="number" id="constitution"
                    name="constitution" readonly v-model="constitutionScore"
                    title="Constructs and undead are not alive and therefore have no constitution scores">
            <input v-else type="number" id="constitution" name="constitution" min="0" v-model="constitutionScore">
             ({{ constitutionModifier }})
	      </td>
      </tr>
	    <tr>
        <td>
	        <label for="intelligence">Intelligence</label><br>
              <!-- vermin and oozes do not have intelligence scores, and animals max intelligence is 2 -->
	        <input v-if="monsterType==='ooze' || monsterType==='vermin'" type="number" id="intelligence"
                  name="intelligence" readonly v-model="intelligenceScore"
                  title="Vermin and oozes do not have intelligence scores">
          <input v-else-if="monsterType==='animal'" type="number" id="intelligence"
                  name="intelligence" min="0" max="2" v-model="intelligenceScore"
                  title="Animals have an Intelligence score of 1 or 2"><!-- Modifier -->
          <input v-else type="number" id="intelligence" name="intelligence" min="0" v-model="intelligenceScore">
             ({{ intelligenceModifier }})
        </td>
        <td>
	        <label for="wisdom">Wisdom</label><br>
            <input type="number" id="wisdom" name="wisdom" min="0" v-model="wisdomScore">
             ({{ wisdomModifier }})
	      </td>
          <td>
            <label for="charisma">Charisma</label><br>
	        <input type="number" id="charisma" name="charisma" min="0" v-model="charismaScore">
	         ({{ charismaModifier }})
          </td>
        </tr>
	    <tr>
	      <td>
	        <label id="fort_label">Fortitude</label> {{ fortitudeSave }}<br>
	        <input type="radio" id="good_fort" area-labelledby="fort_label" name="fortitude" value="good" v-model="fortitudeQuality"><label for="good_fort">Good</label>
          <input type="radio" id="poor_fort" area-labelledby="fort_label" name="fortitude" value="poor" v-model="fortitudeQuality"><label for="poor_fort">Poor</label>
	      </td>
	      <td>
	        <label id="ref_label">Reflex</label> {{ reflexSave }}<br>
	        <input type="radio" id="good_ref" area-labelledby="ref_label" name="reflex" value="good" v-model="reflexQuality"><label for="good_ref">Good</label>
	        <input type="radio" id="poor_ref" area-labelledby="ref_label" name="reflex" value="poor" v-model="reflexQuality"><label for="poor_ref">Poor</label>
	      </td>
	      <td>
	        <label id="will_label">Will</label> {{ willSave }}<br>
	        <input type="radio" id="good_will" area-labelledby="will_label" name="will" value="good" v-model="willQuality"><label for="good_will">Good</label>
          <input type="radio" id="poor_will" area-labelledby="will_label" name="will" value="poor" v-model="willQuality"><label for="poor_will">Poor</label>
	      </td>
	    </tr>
	  </table>
	  {% endverbatim %}
  </fieldset>
  <fieldset name="skills">
    <legend>Skills</legend>
    <p>Skill Points: {% verbatim %}<span v-if="skillPoints!=='NaN'">{{ skillPoints - totalRanks}}
    Max number of skill ranks: {{ hdNumber + 3 }}</span>{% endverbatim %}
            <!-- TODO: way to add skills to monster -->
    <br>
    <select v-model="skillName">
      <option value="null" selected disabled>Skill (modifier)</option>
      {% for skill in skills %}
        <option value="{{ skill.name }},{{ skill.modifier }}">{{ skill.name }} ({{ skill.modifier }})</option>
      {% endfor %}
    </select>
    <br>
    <label for="skill_ranks">Ranks: </label><input type="number" id="skill_ranks" v-model="skillRanks">
    <label for="racial_bonus">Racial Bonus: </label><input type="number" id="racial_bonus" v-model="skillRacialBonus">
    <input v-model="skillDetail">
    <button v-on:click.prevent="addSkill">Add</button>
    <hr>
    <!-- TODO: Create way to send skill list to Python to add to model 
              Add synergy bonuses
    -->
  {% verbatim %}
    <ul>
      <template v-for="(skill, index) in skillList">
        <button @click.prevent="deleteSkill(index)">Delete</button><button @click.prevent="editSkill(index)">Edit</button>
        <li v-if="skill.modifier==='STR'">{{skill.skill_name}} {{ skill.ranks + skill.racial_bonus + strengthModifier }} ({{skill.ranks}})</li>
        <li v-else-if="skill.modifier==='DEX'">{{skill.skill_name}} {{ skill.ranks + skill.racial_bonus + dexterityModifier }} ({{skill.ranks}})</li>
        <li v-else-if="skill.modifier==='CON'">{{skill.skill_name}} {{ skill.ranks + skill.racial_bonus + constitutionModifier }} ({{skill.ranks}})</li>
        <li v-else-if="skill.modifier==='INT'">{{skill.skill_name}} {{ skill.ranks + skill.racial_bonus + intelligenceModifier }} ({{skill.ranks}})</li>
        <li v-else-if="skill.modifier==='WIS'">{{skill.skill_name}} {{ skill.ranks + skill.racial_bonus + wisdomModifier }} ({{skill.ranks}})</li>
        <li v-else-if="skill.modifier==='CHA'">{{skill.skill_name}} {{ skill.ranks + skill.racial_bonus + charismaModifier }} ({{skill.ranks}})</li>
      </template>
    </ul>
    {% endverbatim %}
  </fieldset>
  <fieldset name="feats">
    <legend>Feats</legend>
    <!-- TODO: add  more feats to this section -->
    <select v-model="newFeat">
      <option value="null" selected disabled>Feat</option>
      <option value="Alertness">Alertness</option>
      <option value="combat casting">Combat Casting</option>
      <option value="dodge">Dodge</option>
      <option value="flyby attack">Flyby Attack</option>
      <option value="Improved Initative">Improved Initative</option>
      <option value="multiattack">Multiattack</option>
      <option value="multidexterity">Multidexterity</option>
      <option value="multiweapon fighting">Multiweapon Fighting</option>
      <option value="weapon finesse">Weapon Finesse</option>
    </select>
    <br>
    <input type="text" v-model="featDetail">
    <br>
    <button @click.prevent="addFeat">Add</button>
    <br>
    {% verbatim %}
      <ul>
        <li v-for="(feat, index) in featList"><button @click.prevent="deleteFeat(index)">Delete</button>{{ index }} - {{ feat }}</li>
      </ul>    
    {% endverbatim %}
  </fieldset>
<fieldset name="attacks">
    <legend>Attacks</legend>
    {% verbatim %}
    <p>BAB: {{ baseAtkBonus }} Grapple: {{ baseAtkBonus + strengthModifier + (monsterSizeModifier * -4) }}</p>
    {% endverbatim %}
    <p>Primary Weapons: A monster can use only one of these in a round. These are also used when making standard attacks and attacks of opportunity.<br>
    Secondary Weapons: A monster can use all of these when making a full attack (in addition to one primary weapon attack). Weapons wielded in an off-hand/appendage are included in this.</p>
    <label for="weapon_preset">Weapon Preset</label>
    <select id="weapon_preset" v-model="presetWeapon" @change="presetAttack">
      <option value="null" selected disabled>Weapon Preset</option>
      <optgroup label="Melee Weapons">
        {% for weapon in melee_weapons %}
            <option value="{{  weapon.name }}">{{ weapon.name|title }} ({{  weapon.damage }})</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Ranged Weapons">
        {% for weapon in ranged_weapons %}
            <option value="{{  weapon.name }}">{{ weapon.name|title }} ({{  weapon.damage }})</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Natural Weapons">
        <option value="bite">Bite</option>
        <option value="claw">Claw</option>
        <option value="projectile quill">Projectile Quill</option>
        <option value="slam">Slam</option>
        <option value="tail slap">Tail Slap</option>
        <option value="tentacle">Tentacle</option>
        <option value="wing slap">Wing Slap</option>
      </optgroup>
    </select>
    <br>
    <label for="attack_name">Name</label> <input type="text" id="attack_name" v-model="attackName"><br>
    <label for="weapon_number">Number</label> <input type="number" id="weapon_number" v-model="weaponNumber"><br>
    <label for="weapon_size">Size</label> <input type="text" id="weapon_size" v-model="weaponSize"><br>
    <label for="weapon_reach">Reach</label> <input type="number" id="weapon_reach" v-model="weaponReach"><br>
    <br>
    <label for="attack_form">Form</label>
    <select id="attack_form" v-model="attackForm">
      <option value="melee"> Melee</option>
      <option value="ranged"> Ranged</option>
      <option value="thrown"> Thrown</option>
      <option value="other"> No attack roll</option>
    </select>
    <label v-show="attackForm==='melee'" for="two-handed-attack"><input type="checkbox" id="two-handed-attack" v-model="attackTwoHanded"> Two-Handed/Strong Natural Weapon</label>
    <label for="weapon_material">Material</label> 
    <select id="weapon_material" v-model="weaponMaterial">
      <option value="manufactured">Manufactured</option>
      <option value="natural">Natural</option>
    <br>
    Usually, natural attacks with a damage bonus are for monsters with only one natural weapon, however, dragons' tail slap attacks are secondary attacks with such a bonus.
    <br>
    <!-- Damage and bonuses -->
    <label for="weapon_damage">Damage</label> <input type="text" id="weapon_damage" v-model="weaponDamage"><br>
    <label for="special_effect">Special Effect</label> <input type="text" id="special_effect" v-model="specialEffect"><br>
    <label for="magic_weapon">Magical</label> <input type="number" id="magic_weapon" v-model="magicWeapon"><br>
    <br>
    {% verbatim %}
    <p id="primary">Primary Attacks<br>
      <button @click.prevent="addAttack">Add Primary Attack</button>
      <ul>
        <template v-for="(attack, index) in attackList">
          <li v-if="attack.list=='primary'">
            <button @click.prevent="deleteAttack(index)">Delete</button><button @click.prevent="editAttack(index)">Edit</button>
            <strong>{{ attack.atk_name }} <span v-if="attack.number>1">{{ attack.number }}x</span></strong> + 
            <span v-if="attack.atk_modifier=='strength'">{{ baseAtkBonus + strengthModifier + monsterSizeModifier + attack.magic }}</span>
            <span v-else>{{ baseAtkBonus + dexterityModifier + monsterSizeModifier + magicModifier }}</span>
            {{ attack.atk_form }} (
            <span v-if="attack.weapon_damage">{{ attack.weapon_damage }}+{{ attack.damage_bonus * strengthModifier + attack.magic }}</span>
            <span v-if="attack.special_effect"> plus {{ attack.special_effect }}</span>
            )
          </li>
        </template>
      </ul>
    </p>
    <!-- TODO: BAB penalty -->
    <p id="secondary">Secondary Attacks<br>
      <button @click.prevent="addAttack">Add Secondary Attack</button>
      <ul><template v-for="(attack, index) in attackList">
        <li v-if="attack.list=='secondary'">
          <button @click.prevent="deleteAttack(index)">Delete</button><button @click.prevent="editAttack(index)">Edit</button>
            <strong>{{ attack.atk_name }} <span v-if="attack.number>1">{{ attack.number }}x</span></strong> + 
            <span v-if="attack.atk_modifier=='strength'">{{ baseAtkBonus + strengthModifier + monsterSizeModifier + attack.magic }}</span>
            <span v-else>{{ baseAtkBonus + dexterityModifier + monsterSizeModifier + attack.magic }}</span>
            {{ attack.atk_form }} (
            <span v-if="attack.weapon_damage">{{ attack.weapon_damage }}+{{ attack.damage_bonus * strengthModifier + attack.magic }}</span>
            <span v-if="attack.special_effect"> plus {{ attack.special_effect }}</span>
            )
          </li>
      </template></ul>
    </p>
    {% endverbatim %}
</fieldset>
<fieldset name="defenses">
  <legend>Armor Class</legend>
  <p>Armor Class: {% verbatim %}{{ armorClass }}{% endverbatim %}</p>
  <label>Natural armor <input type="number" name="natural_armor" v-model="naturalArmor"></label><br>
    <label for="manufactured_armor">Armor</label>
    <select id="manufactured_armor" name="manufactured_armor" v-model="manufacturedArmor" @change="armorCalculations">
      <option value="none">None</option>
      <optgroup label="Light Armor">
        {% for armor in light_armor %}
          <option value="{{  armor.name }}">{{ armor.name|title }} ({{  armor.armor_bonus }})</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Medium Armor">
        {% for armor in medium_armor %}
          <option value="{{  armor.name }}">{{ armor.name|title }} ({{  armor.armor_bonus }})</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Heavy Armor">
        {% for armor in heavy_armor %}
          <option value="{{  armor.name }}">{{ armor.name|title }} ({{  armor.armor_bonus }})</option>
        {% endfor %}
      </optgroup>
    </select>
    <label for="worn_shield">Shield</label>
    <select id="worn_shield" v-model="wornShield" @change="armorCalculations">
      <option value="none">None</option>
      {% for shield in shields %}
        <option value="{{ shield.name }}">{{ shield.name|title }} ({{ shield.armor_bonus }})</option>
      {% endfor %}
    </select>
    Armor Check Penalty: {% verbatim %}{{ 0 - armorPenalty }}{% endverbatim %}
    <!-- TODO: DR, SR, space/reach, aura -->
</fieldset>
<fieldset name="special_abilities">
  <legend>Special Abilities</legend>
  <label><input type="radio" value="Extraordinary" v-model="specialCategory">Extraordinary</label>
  <label><input type="radio" value="Spell-like" v-model="specialCategory">Spell-like</label>
  <label><input type="radio" value="Supernatural" v-model="specialCategory">Supernatural</label>
  <br>
  <label>Special Abilities</label>
  <!-- TODO: hide unnecessary details when selecting other special ability -->
  Select Preset:
  <select v-model="specialPreset" @change="presetSpecialAbility">
    {% for ability in special %}
      <option value="{{ ability.name|title }}">{{ ability.name|title }}</option>
    {% endfor %}
  </select>
  <br>
  <label for="special-name">Name</label>:
  <input type="text" id="special-name" v-model="specialAbility">
  <br>
<!-- TODO: bigger textarea-->
    <label for="special-description">Description</label>:
    <br>
    <textarea id="special-description" v-model="specialDescription"></textarea>
    <br>
    <!-- Saving Throws against the attack -->
    Saving Throw:
    <select v-model="specialSave">
      <option value="none">None</option>
      <option value="fortitude">Fortitude</option>
      <option value="reflex">Reflex</option>
      <option value="will">Will</option>
    </select>
    <select v-model="specialSaveHalfOrNegate">
      <option value="negates">Negates</option>
      <option value="halves">Halves</option>
    </select>
    <select v-model="specialSaveAbility">
      <option disabled value="none">Based on Ability</option>
      <option value="STR">Strength</option>
      <option value="DEX">Dexterity</option>
      <option value="CON">Constitution</option>
      <option value="INT">Intelligence</option>
      <option value="WIS">Wisdom</option>
      <option value="CHA">Charisma</option>
    </select>
  <br>
  <button @click.prevent="addSpecialAbility">Add Special Ability</button>
    {% comment %} TODO: Round down DC. Maybe function in javascript?{% endcomment %}
  {% verbatim %}
    <ul>
      <li v-for="(ability, index) in specialAbilities">
        <button @click.prevent="deleteSpecialAbility(index)">Delete</button><button @click.prevent="editSpecialAbility(index)">Edit</button>
        <b>{{ ability.name }} ({{ ability.category[0] + ability.category[1] }})</b>: {{ ability.description }} 
        <span v-if="ability.save_base=='STR'">
          {{ ability.save }} {{ ability.half_negate }} DC {{ 10 + (0.5 * this.hdCalc) + this.strengthModifier }}. Save DC is Strength-based</span>
        <span v-else-if="ability.save_base=='DEX'">
          {{ ability.save }} {{ ability.half_negate }} DC {{ 10 + (0.5 * this.hdCalc) + this.dexterityModifier }}. Save DC is Dexterity-based</span>
        <span v-else-if="ability.save_base=='CON'">
          {{ ability.save }} {{ ability.half_negate }} DC {{ 10 + (0.5 * this.hdCalc) + this.constitutionModifier }}. Save DC is Consitution-based</span>
        <span v-else-if="ability.save_base=='INT'">
          {{ ability.save }} {{ ability.half_negate }} DC {{ 10 + (0.5 * this.hdCalc) + this.intelligenceModifier }}. Save DC is Intelligence-based</span>
        <span v-else-if="ability.save_base=='WIS'">
          {{ ability.save }} {{ ability.half_negate }} DC {{ 10 + (0.5 * this.hdCalc) + this.wisdomModifier }}.  Save DC is Wisdom-based</span>
        <span v-else-if="ability.save_base=='CHA'">
          {{ ability.save }} {{ ability.half_negate }} DC {{ 10 + (0.5 * this.hdCalc) + this.charismaModifier }}. Save DC is Charisma-based</span>
      </li>
  </ul>
  {{ specialAbilities }}
  {% endverbatim %}
  <!-- TODO
  Other
  -->
</fieldset>
<fieldset name="spells_and_psionics">
  <legend>Spells and Psionics</legend>
  <!-- TODO: spells cast as by a ??th level [spellcaster], ability for calculating DCs -->
  <label for="spell_name">Spell or Power Name </label>
  <input type="text" id="spell_name" v-model="spellName">
  <br>
  <button @click.prevent="addSpell('atWill')">At will</button>
  <button @click.prevent="addSpell('onceDay')">1 per day</button>
  <button @click.prevent="addSpell('thriceDay')">3 per day</button>
  <button @click.prevent="addSpell('onceWeek')">1 per week</button>
  <br>
  <button @click.prevent="addSpell('psionics')">Psionics</button>
  <br>
  {% verbatim %}
  <b>Spells (Sp)</b>
  <ul>
    <li>At Will—<i v-for="spell in spellsAtWill">{{ spell }}, </i></li>
    <li>1 per day—<i v-for="spell in spellsOncePerDay">{{ spell }}, </i></li>
    <li>3 per day—<i v-for="spell in spellsThricePerDay">{{ spell }}, </i></li>
    <li>1 per week—<i v-for="spell in spellsOncePerWeek">{{ spell }}, </i></li>
  </ul>
  <b>Psionics (Sp)</b>
  <ul>
    <li>At Will—<i v-for="power in psionicPowers">{{ power }}, </i></li>
  </ul>
  {% endverbatim %}
  
</fieldset>
<template>
  <input type="text" name="skills" :value="skillList">
  <input type="text" name="feats" :value="featList">
  <input type="text" name="attacks" :value="attackList">
  <input type="text" name="special_abilities" :value="specialAbilities">
  <input type="text" name="spells_at_will" :value="spellsAtWill">
  <input type="text" name="spells_once_per_day" :value="spellsOncePerDay">
  <input type="text" name="spells_thrice_per_day" :value="spellsThricePerDay">
  <input type="text" name="spells_once_per_week" :value="spellsOncePerWeek">
  <input type="text" name="psionic_powers" :value="psionicPowers">
</template>
</form>
</div>
<script>
  function calculateSave(modifier, quality, hd) {
    if (quality==='good') {
      let save = Math.round((hd+3)/2);
      return save + modifier;
    }
    else if (quality==='poor') {
      //let save = Math.floor((hd-1)/3);
      let save = Math.round(hd/3);
      if (save<0) {
        save = 0;
      }
      return save + modifier;
    }
    else {
      return '';
    }
  }
  function calculateModifier(score) {
    if (typeof(score==='number') && score>0) {
      let modifier = Math.floor((score - 10)/2);
      return modifier;
    }
    else {
      return 0;
    }
  }
  function commaToDot(txt) {
    var str = txt + '';
    const parts = str.split(",");
    return parts[0] + '.' + parts[1];
  }
  function sizeModifier(size) {
    switch(size) {
      case 'fine':
        return 8;
        break;
      case 'diminutive':
        return 4;
        break;
      case 'tiny':
        return 2;
        break;
      case 'small':
        return 1;
        break;
      case 'medium':
        return 0;
        break;
      case 'large':
        return -1;
        break;
      case 'huge':
        return -2;
        break;
      case 'gargantuan':
        return -4;
        break;
      case 'colossal':
        return -8;
        break;
      /*
      Actually natural attacks are 2 size categories smaller than the monster,
      but because this method is only used for attacks to check if they're smaller than the monster,
      this should work.
      */
      case 'natural':
        return 10;
        break;
    }
  }
  function monsterTypeCharacteristics(assignedType) {
    let typeCharacteristics = {};
    let temp_atk_as = null;
    let functionTag = null;
    let functionVar = null;
    switch(assignedType) {
    {% for monstertype in monstertypes %}
      case '{{ monstertype.name }}':
        typeCharacteristics.hdType = {{ monstertype.hd_type }};
        typeCharacteristics.fortitudeQuality = '{{ monstertype.fortitude }}';
        typeCharacteristics.reflexQuality = '{{ monstertype.reflex }}';
        typeCharacteristics.willQuality = '{{ monstertype.will }}';
        typeCharacteristics.typeBaseSkillPoints = {{ monstertype.base_skill_points }};
        typeCharacteristics.typeSkillPoints = {{ monstertype.skill_points }};
        typeCharacteristics.typeBaseNumberOfFeats = {{ monstertype.base_number_of_feats }};
        typeCharacteristics.typeNumberOfFeats = {{ monstertype.number_of_feats }};
        typeCharacteristics.atkAs = commaToDot('{{ monstertype.atk_as }}');
        break;
    {% endfor %}
    }
    return typeCharacteristics;
  }
  function weaponInformation(selectedWeapon) {
    let weaponInfo = {};
    if (['bite', 'claw', 'slam', 'sting', 'tail slap', 'tentacle', 'wing slap'].includes(selectedWeapon)) {
      weaponInfo.weaponSize = 'natural';
      weaponInfo.attackForm = 'melee';
      weaponInfo.weaponDamage = '';
      weaponInfo.weaponMaterial = 'natural';
    }
    else {
      switch (selectedWeapon) {
        {% for weapon in melee_weapons %}
          case '{{ weapon.name }}':
            weaponInfo.weaponSize = '{{ weapon.display_size }}';
            weaponInfo.attackForm = '{{ weapon.atk_form }}';
            weaponInfo.weaponDamage = '{{ weapon.damage }}';
            weaponInfo.weaponMaterial = 'manufactured';
            break;
        {% endfor %}
        {% for weapon in ranged_weapons %}
          case '{{ weapon.name }}':
            weaponInfo.weaponSize = '{{ weapon.display_size }}';
            weaponInfo.attackForm = '{{ weapon.atk_form }}';
            weaponInfo.weaponDamage = '{{ weapon.damage }}';
            weaponInfo.weaponMaterial = 'manufactured';
            break;
        {% endfor %}
        case 'projectile quill':
          weaponInfo.weaponSize = 'natural';
          weaponInfo.attackForm = 'ranged';
          weaponInfo.weaponDamage = '';
          weaponInfo.weaponMaterial = 'natural';
          break;
      }
    }
    return weaponInfo;
  }
  function armorInformation(selectedArmor) {
    armorInfo = {};
    switch(selectedArmor) {
      {% for armor in light_armor %}
        case '{{ armor.name }}':
          armorInfo.armorBonus = {{ armor.armor_bonus }};
          armorInfo.armorPenalty = {{ armor.armor_penalty }};
          armorInfo.maxDexBonus = {{ armor.max_dex }};
          break;
      {% endfor %}
      {% for armor in medium_armor %}
        case '{{ armor.name }}':
          armorInfo.armorBonus = {{ armor.armor_bonus }};
          armorInfo.armorPenalty = {{ armor.armor_penalty }};
          armorInfo.maxDexBonus = {{ armor.max_dex }};
          break;
      {% endfor %}
      {% for armor in heavy_armor %}
        case '{{ armor.name }}':
          armorInfo.armorBonus = {{ armor.armor_bonus }};
          armorInfo.armorPenalty = {{ armor.armor_penalty }};
          armorInfo.maxDexBonus = {{ armor.max_dex }};
          break;
      {% endfor %}
    }
    return armorInfo;
  }
  function shieldInformation(selectedShield) {
    shieldInfo = {};
    switch(selectedShield) {
      {% for shield in shields %}
        case '{{ shield.name }}':
          shieldInfo.armorBonus = {{ shield.armor_bonus }};
          shieldInfo.armorPenalty = {{ shield.armor_penalty }};
          break;
      {% endfor %}
    }
    return shieldInfo;
  }
  {% autoescape off %}
  function specialInformation(preset, monsterName) {
    const ATTACK = preset;
    const MON = monsterName;
    switch(preset) {
      {% for ability in special %}
        case '{{ ability.name }}':
          return `{{ ability.description }}`;
          break;
      {% endfor %}
    }
  }
  {% endautoescape %}
app.mount('#app');
  </script>
{% endblock %}
