{% extends 'blog/base.html' %}
{% load statblockfilters %}
{% block headerscript %}
{% endblock %}
{% block content %}
<div id="app">
<h1>D&D 3.0 Monster Builder</h1>
<form method="POST" name="monsterForm" action="/monsterbuilder/">
{% csrf_token %}
  {% if user.is_authenticated %}
  <button type="submit">Save</button>
  {% endif %}
  <fieldset name="basics">
    <legend>Basics</legend>
    <label for="name">Name </label>
    <input type="text" id="name" name="monster_name" maxlength="60" id="name"  v-model="monsterName">
    <br>
    <label for="monstertype">Type </label>
    <select id="monstertype" name="monstertype" v-model="monsterType" @change.prevent="assignType">
        <option value="" selected disabled>Select Type</option>
        {% for monstertype in monstertypes %}
          <option value="{{ monstertype.name }}">{{ monstertype.name|title }}</option>
        {% endfor %}
    </select>
    <br>
    <!--TODO: subtypes -->
    <!--
    <label for="subtypes">Subtypes</label>
    <select id="subtypes" name="subtypes" v-model="monsterSubtypes" @change.prevent="assignSubtype" onmouseover="this.setAttribute('size', '6')" onmouseout="this.setAttribute('size', '1')" size="1"  multiple>
      {% comment %}
      {% for subtype in subtypes %}
        <option value="{{ subtype.name }}">{{ subtype.name|title }}</option>
      {% endfor %}
      {% endcomment %}
      <option value="cold">Cold</option>
      <option value="incorporeal">Incorporeal</option>
    </select>
    -->
    <br>
    <label for="size">Size </label>
    <select id="size" name="size" @change="typicalReach" v-model="monsterSize">
        <option value="fine">Fine</option>
        <option value="diminutive">Diminutive</option>
        <option value="tiny">Tiny</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="huge">Huge</option>
        <option value="gargantuan">Gargantuan</option>
        <option value="colossal">Colossal</option>
    </select>
    <p v-show="['large', 'huge', 'gargantuan', 'colossal'].includes(monsterSize)">
      <label>Tall <input type="radio" value="tall" name="body_shape" @change="typicalReach" v-model="bodyShape"></label>
      <label>Long <input type="radio" value="long" name="body_shape" @change="typicalReach" v-model="bodyShape"></label>
    </p>
     <!-- TODO: space: finish datalist of suggestions-->
    <br>
    <label for='monster-reach'>Reach </label><input type='number' id='monster-reach' name='reach' size="2" step="5" v-model='monsterReach'>
    <label for='monster-face'>Face </label><input type='text' id='monster-face' name='face' list="monster-face-suggestions" size="15" >
    {% verbatim %}
    <datalist id='monster-face-suggestions'>
      <option v-for="suggestion in monsterFaceList" v-bind:value="suggestion">
    </datalist>
    {% endverbatim %}
    <br>
    <label for="hd_number">Hit Dice </label>
    <input type="number" id="hd_number" name="hd_number" min="0" size="3" v-model="hdNumber">
    <br>
    <label for="hd_fraction">Click if the number of Hit Dice is a fraction. Then enter the denominator in the box above.</label>
    <input type="checkbox" id="hd_fraction" name="hd_fraction" v-model="hdFraction">
    <hr>
    {% verbatim %}
    HD: {{ hitDice }}
    {% endverbatim %}
  </fieldset>
  <fieldset name="speed">
      <legend>Speed</legend>
            <label for="speed">Speed </label>
            <input type="number" id="speed" name="speed" min="0" step="5" size="3" value="0"><br>
            <label for="burrow_speed">Burrow </label>
            <input type="number" id="burrow_speed" name="burrow_speed" min="0" step="5" size="3" value="0"><br>
            <label for="climb_speed">Climb </label>
            <input type="number" id="climb_speed" name="climb_speed" min="0" step="5" size="3" v-model="climbSpeed"><br>
            <label for="fly_speed">Fly </label>
            <input type="number" id="fly_speed" name="fly_speed" min="0" step="5" size="3" v-model="flySpeed">
            <label for="fly_maneuverability" v-show="flySpeed>0">Maneuverability </label>
            <select  id="fly_maneuverability" name="fly_maneuverability" v-show="flySpeed>0">
              <option selected disabled>Maneuverability</option>
              <option value="perfect">Perfect</option>
              <option value="good">Good</option>
              <option value="average">Average</option>
              <option value="poor">Poor</option>
              <option value="clumsy">Clumsy</option>
            </select>
            <br>
            <label for="swim_speed">Swim </label>
            <input type="number" id="swim_speed" name="swim_speed" min="0" step="5" size="3" v-model="swimSpeed">
  </fieldset>
  <fieldset name="scores">
      <legend>Ability Scores and Saves</legend>
      <table>
        <tr>
          <td>
            <label for="strength">Strength</label><br>
            <input type="number" id="strength" name="strength" min="0" size="2" v-model="strengthScore">
             {% verbatim %}({{ addModifierSign(strengthModifier) }}){% endverbatim %}
          </td>
          <td>
            <label for="dexterity">Dexterity</label><br>
            <input type="number" id="dexterity" name="dexterity" min="0" size="2" v-model="dexterityScore">
             {% verbatim %}({{ addModifierSign(dexterityModifier) }}){% endverbatim %}<sup v-if="maxDexBonus">Max. DEX bonus</sup>
          </td>
	      <td>
	        <label for="constitution">Constitution</label><br>
              <!-- constructs and undead do no have constitution scores -->
              <!-- Hide if construct or undead (so form can still take value), but just show - to user? -->
            <input v-if="monsterType==='construct' || monsterType==='undead'" type="number" id="constitution"
                    name="constitution" size="2" readonly v-model="constitutionScore"
                    title="Constructs and undead are not alive and therefore have no constitution scores">
            <input v-else type="number" id="constitution" name="constitution" min="0" size="2" v-model="constitutionScore">
             {% verbatim %}({{ addModifierSign(constitutionModifier) }}){% endverbatim %}
	      </td>
      </tr>
	    <tr>
        <td>
	        <label for="intelligence">Intelligence</label><br>
              <!-- vermin and oozes do not have intelligence scores, and animals max intelligence is 2 -->
	        <input v-if="monsterType==='ooze' || monsterType==='vermin'" type="number" id="intelligence"
                  name="intelligence" size="2" readonly v-model="intelligenceScore"
                  title="Vermin and oozes do not have intelligence scores">
          <input v-else-if="monsterType==='animal'" type="number" id="intelligence"
                  name="intelligence" min="0" max="2" size="2" v-model="intelligenceScore"
                  title="Animals have an Intelligence score of 1 or 2"><!-- Modifier -->
          <input v-else type="number" id="intelligence" name="intelligence" min="0" size="2" v-model="intelligenceScore">
             {% verbatim %}({{ addModifierSign(intelligenceModifier) }}){% endverbatim %}
        </td>
        <td>
	        <label for="wisdom">Wisdom</label><br>
            <input type="number" id="wisdom" name="wisdom" min="0" size="2" v-model="wisdomScore">
             {% verbatim %}({{ addModifierSign(wisdomModifier) }}){% endverbatim %}
	      </td>
          <td>
            <label for="charisma">Charisma</label><br>
	        <input type="number" id="charisma" name="charisma" min="0" size="2" v-model="charismaScore">
	         {% verbatim %}({{ addModifierSign(charismaModifier) }}){% endverbatim %}
          </td>
        </tr>
	    <tr>
	      <td>
	        <label id="fort_label">Fortitude</label> {% verbatim %}{{ addModifierSign(fortitudeSave) }}{% endverbatim %}<br>
	        <input type="radio" id="good_fort" area-labelledby="fort_label" name="fortitude" value="good" v-model="fortitudeQuality"><label for="good_fort">Good</label>
          <input type="radio" id="poor_fort" area-labelledby="fort_label" name="fortitude" value="poor" v-model="fortitudeQuality"><label for="poor_fort">Poor</label>
	      </td>
	      <td>
	        <label id="ref_label">Reflex</label> {% verbatim %}{{ addModifierSign(reflexSave) }}{% endverbatim %}<br>
	        <input type="radio" id="good_ref" area-labelledby="ref_label" name="reflex" value="good" v-model="reflexQuality"><label for="good_ref">Good</label>
	        <input type="radio" id="poor_ref" area-labelledby="ref_label" name="reflex" value="poor" v-model="reflexQuality"><label for="poor_ref">Poor</label>
	      </td>
	      <td>
	        <label id="will_label">Will</label> {% verbatim %}{{ addModifierSign(willSave) }}{% endverbatim %}<br>
	        <input type="radio" id="good_will" area-labelledby="will_label" name="will" value="good" v-model="willQuality"><label for="good_will">Good</label>
          <input type="radio" id="poor_will" area-labelledby="will_label" name="will" value="poor" v-model="willQuality"><label for="poor_will">Poor</label>
	      </td>
	    </tr>
	  </table>
  </fieldset>
  <fieldset name="skills">
    <legend>Skills</legend>
    <p>Skill Points: {% verbatim %}<span v-if="skillPoints!=='NaN'">{{ skillPoints - totalRanks}}<br>
    Max number of skill ranks: {{ hdNumber + 3 }}</span>{% endverbatim %}<br>
    <select v-model="skillName">
      <option value="null" selected disabled>Skill (modifier)</option>
      {% for skill in skills %}
        <option value="{{ skill.name }},{{ skill.modifier }}">{{ skill.name }} ({{ skill.modifier }})</option>
      {% endfor %}
    </select><br>
    <label for="skill-ranks">Ranks: <input type="number" id="skill-ranks" min="0" size="2" v-model="skillRanks"></label>
    <label for="racial-bonus">Racial Bonus: <input type="number" id="racial-bonus" size="2" v-model="skillRacialBonus"></label><br>
    <label for="skill-detail" v-show="showSkillDetail">For: <input id="skill-detail" list="skill-detail-suggestions" v-model="skillDetail"></label><br>
    <button v-on:click.prevent="addSkill">Add</button>
    <datalist id="skill-detail-suggestions">
      <option v-if="skillName=='Craft,INT'" value="armorsmithing">
      <option v-if="skillName=='Craft,INT'" value="basketweaving">
      <option v-if="skillName=='Craft,INT'" value="bookbinding">
      <option v-if="skillName=='Craft,INT'" value="bowmaking">
      <option v-if="skillName=='Craft,INT'" value="blacksmithing">
      <option v-if="skillName=='Craft,INT'" value="calligraphy">
      <option v-if="skillName=='Craft,INT'" value="carpentry">
      <option v-if="skillName=='Craft,INT'" value="cobbling">
      <option v-if="skillName=='Craft,INT'" value="gemcutting">
      <option v-if="skillName=='Craft,INT'" value="leatherworking">
      <option v-if="skillName=='Craft,INT'" value="locksmithing">
      <option v-if="skillName=='Craft,INT'" value="painting">
      <option v-if="skillName=='Craft,INT'" value="pottery">
      <option v-if="skillName=='Craft,INT'" value="sculpture">
      <option v-if="skillName=='Craft,INT'" value="shipmaking">
      <option v-if="skillName=='Craft,INT'" value="stonemasonry">
      <option v-if="skillName=='Craft,INT'" value="trapmaking">
      <option v-if="skillName=='Craft,INT'" value="weaponsmithing">
      <option v-if="skillName=='Craft,INT'" value="weaving">
      <option v-if="skillName=='Knowledge,INT'" value="arcana">
      <option v-if="skillName=='Knowledge,INT'" value="architecture and engineering">
      <option v-if="skillName=='Knowledge,INT'" value="geography">
      <option v-if="skillName=='Knowledge,INT'" value="history">
      <option v-if="skillName=='Knowledge,INT'" value="local">
      <option v-if="skillName=='Knowledge,INT'" value="nature">
      <option v-if="skillName=='Knowledge,INT'" value="nobility and royalty">
      <option v-if="skillName=='Knowledge,INT'" value="the planes">
      <option v-if="skillName=='Knowledge,INT'" value="religion">
      <option v-if="skillName=='Perform,CHA'" value="ballad">
      <option v-if="skillName=='Perform,CHA'" value="buffoonery">
      <option v-if="skillName=='Perform,CHA'" value="chant">
      <option v-if="skillName=='Perform,CHA'" value="comedy">
      <option v-if="skillName=='Perform,CHA'" value="dance">
      <option v-if="skillName=='Perform,CHA'" value="drama">
      <option v-if="skillName=='Perform,CHA'" value="drums">
      <option v-if="skillName=='Perform,CHA'" value="epic">
      <option v-if="skillName=='Perform,CHA'" value="flute">
      <option v-if="skillName=='Perform,CHA'" value="harp">
      <option v-if="skillName=='Perform,CHA'" value="juggling">
      <option v-if="skillName=='Perform,CHA'" value="limericks">
      <option v-if="skillName=='Perform,CHA'" value="lute">
      <option v-if="skillName=='Perform,CHA'" value="mandolin">
      <option v-if="skillName=='Perform,CHA'" value="melody">
      <option v-if="skillName=='Perform,CHA'" value="mime">
      <option v-if="skillName=='Perform,CHA'" value="ode">
      <option v-if="skillName=='Perform,CHA'" value="pan pipes">
      <option v-if="skillName=='Perform,CHA'" value="recorder">
      <option v-if="skillName=='Perform,CHA'" value="shalm">
      <option v-if="skillName=='Perform,CHA'" value="storytelling">
      <option v-if="skillName=='Perform,CHA'" value="trumpet">
      <option v-if="skillName=='Profession,WIS'" value="apothecary">
      <option v-if="skillName=='Profession,WIS'" value="boater">
      <option v-if="skillName=='Profession,WIS'" value="bookkeeper">
      <option v-if="skillName=='Profession,WIS'" value="brewer">
      <option v-if="skillName=='Profession,WIS'" value="cook">
      <option v-if="skillName=='Profession,WIS'" value="driver">
      <option v-if="skillName=='Profession,WIS'" value="farmer">
      <option v-if="skillName=='Profession,WIS'" value="fisher">
      <option v-if="skillName=='Profession,WIS'" value="guide">
      <option v-if="skillName=='Profession,WIS'" value="herbalist">
      <option v-if="skillName=='Profession,WIS'" value="herdsman">
      <option v-if="skillName=='Profession,WIS'" value="innkeeper">
      <option v-if="skillName=='Profession,WIS'" value="lumberjack">
      <option v-if="skillName=='Profession,WIS'" value="miller">
      <option v-if="skillName=='Profession,WIS'" value="miner">
      <option v-if="skillName=='Profession,WIS'" value="porter">
      <option v-if="skillName=='Profession,WIS'" value="rancher">
      <option v-if="skillName=='Profession,WIS'" value="sailor">
      <option v-if="skillName=='Profession,WIS'" value="scribe">
      <option v-if="skillName=='Profession,WIS'" value="siege engineer">
      <option v-if="skillName=='Profession,WIS'" value="stablehand">
      <option v-if="skillName=='Profession,WIS'" value="tanner">
      <option v-if="skillName=='Profession,WIS'" value="teamster">
      <option v-if="skillName=='Profession,WIS'" value="woodcutter">
    </datalist>
    <hr>
  {% verbatim %}
    <ul>
      <li v-for="(skill, index) in skillList">
        <button @click.prevent="deleteSkill(index)">Delete</button>
        <button @click.prevent="editSkill(index)">Edit</button>
        <button @click.prevent="updateSkill(index)">Reload</button>
        {{skill.skill_name}} {{ addModifierSign(skillModifier(skill)) }} ({{skill.ranks}} ranks)
      </li>
    </ul>
  {% endverbatim %}
  </fieldset>
  <fieldset name="feats">
    <legend>Feats</legend>
    {% verbatim %}Feats: {{ numberOfFeats }}{% endverbatim %}<br>
    <select v-model="newFeat" @change.prevent="selectFeat">
      <option value="null" selected disabled>Feat</option>
      {% for feat in feats %}
        <option value="{{ feat.name }}">{{ feat.name }}</option>
      {% endfor %}
    </select>
    <input type="text" v-show="showFeatDetail" v-model="featDetail">
    <br>
    {% verbatim %}
    Prerequisites:
    <ul>
      <template v-for="prerequisite in featPrerequisites">
        <li v-if="prerequisite.kind=='feat'">{{ prerequisite.which }}</li>
        <li v-else-if="prerequisite.kind=='ability'">{{ prerequisite.which }} {{ prerequisite.min }}+</li>
        <li v-else-if="prerequisite.kind=='class'">level {{ prerequisite.min }} {{ prerequisite.which }}</li>
        <li v-else-if="prerequisite.kind=='BAB'">base attack bonus {{ prerequisite.min }}+</li>
      </template>
    </ul>
    <button @click.prevent="addFeat">Add</button>
    <hr>
    <ul>
      <li v-for="(feat, index) in featList"><button @click.prevent="deleteFeat(index)">Delete</button>{{ feat }}</li>
    </ul>    
    {% endverbatim %}
  </fieldset>
  <fieldset name="attacks">
    <legend>Attacks</legend>
    {% verbatim %}<p>Initiative: {{ addModifierSign(initiativeModifier) }}<br>BAB: {{ addModifierSign(baseAtkBonus) }} Grapple: {{ addModifierSign(grappleModifier) }}</p>{% endverbatim %}    
    <label for="natural-weapon"><input type="radio" id="natural-weapon" value="natural" v-model="attackNature"> Natural weapon</label>
    <label for="manufactured-weapon"><input type="radio" id="manufactured-weapon" value="manufactured" v-model="attackNature"> Manufactured weapon</label>
    <!-- Natural weapons only -->
    <p v-show="attackNature=='natural'">
      <label for="primary-attack"><input type="radio" id="primary-attack" value="primary" v-model="attackGroup"> Primary Weapon: A monster can use only one of these in a round. They are also used when making standard attacks and attacks of opportunity. If the monster has only one natural weapon, it is usually a strong primary attack.</label><br>
      <label for="strong-natural"><input type="checkbox" id="strong-natural" v-model="soleNatural"> Strong</label><br>
      <label for="secondary-attack"><input type="radio" id="secondary-attack" value="secondary" v-model="attackGroup"> Secondary Weapon: A monster can use all of these when making a full attack (in addition to one primary weapon attack).</label>
    </p>
    <!-- Manufactured weapons only -->
    <p v-show="attackNature=='manufactured'">
      <label for="weapon-preset">Preset </label>
      <select id="weapon-preset" v-model="presetWeapon" @change="presetAttack">
        <option value="null" selected disabled>Weapon Preset</option>
        <optgroup label="Melee Weapons">
          {% for weapon in melee_weapons %}
            <option value="{{  weapon.name }}">{{ weapon.name|title }} ({{  weapon.damage }})</option>
          {% endfor %}
        </optgroup>
        <optgroup label="Ranged Weapons">
          {% for weapon in ranged_weapons %}
            <option value="{{  weapon.name }}">{{ weapon.name|title }} ({{  weapon.damage }})</option>
          {% endfor %}
        </optgroup>
      </select><br>
      <label for="weapon-size">Size: </label>
      <select id="weapon-size" v-model="weaponSize">
        <option value="fine">Fine</option>
        <option value="diminutive">Diminutive</option>
        <option value="tiny">Tiny</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="huge">Huge</option>
        <option value="gargantuan">Gargantuan</option>
        <option value="colossal">Colossal</option>
      </select><br>
      <label for="attack-hand">Hand </label>
      <select id="attack-hand" v-model="attackHand">
        <option value="one-handed,false">One-handed (dominant hand)</option>
        <option value="two-handed,false">Two-handed</option>
        <option value="off-hand,false">One-handed (off-hand)</option>
        <option value="one-handed,off-light">Dual wielding (dominant hand, off-hand light)</option>
        <option value="one-handed,equal-size">Dual wielding (dominant hand, off-hand not light)</option>
        <option value="off-hand,true">Dual wielding (off-hand)</option>
      </select>
    </p>
    <!-- All attacks -->
    <p v-show="attackNature">
      <label for="attack-name">Name </label><input type="text" id="attack-name" v-model="attackName"><br>
      <label for="nick-name">Display Name </label><input type="text" id="nick-name" v-model="attackNickName"><br>
      <label for="weapon_number">Number </label><input type="number" id="weapon_number" size="2" v-model="weaponNumber"><br>
      <label for="attack-form">Form </label>
      <select id="attack-form" v-model="attackForm">
        <option value="melee">Melee</option>
        <option value="ranged">Ranged</option>
        <option value="thrown">Thrown</option>
      </select><br>
      <label for="weapon-reach" v-show="attackForm=='melee'">Reach </label>
      <input type="number" id="weapon-reach" min="0" step="5" size="3" v-model="weaponReach" v-show="attackForm=='melee'">
      <label for="weapon-range" v-show="['ranged', 'thrown'].includes(attackForm)">Range </label>
      <input type="number" id="weapon-range" min="0" step="5" size="3" v-show="['ranged', 'thrown'].includes(attackForm)"><br>
      <!-- Damage and bonuses -->
      <label for="weapon_damage">Damage </label><input type="text" id="weapon_damage" size="9" v-model="weaponDamage"><br>
      <label for="crit-range">Critical Threat Range </label><input type="number" id="crit-range" min="0" max="20" size="2" v-model="critRange">-20<br>
      <label for="crit-double">Critical </label><input type="text" id="crit-double" size="5" v-model="critDouble"><br>
      <label for="special_effect">Special Effect </label><input type="text" id="special_effect" v-model="specialEffect"><br>
      <label for="magic_weapon">Magical Enhancement Bonus </label><input type="number" id="magic_weapon" size="3" v-model="magicWeapon"><br>
      <button @click.prevent="addAttack">Add Attack</button>
    </p>
    {% verbatim %}
    <hr>
    <ul>
      <li v-for="(attack, index) in attackList">
        <button @click.prevent="deleteAttack(index)">Delete</button><button @click.prevent="editAttack(index)">Edit</button>
        <strong>{{ attack.nick_name ? attack.nick_name : attack.atk_name }} <span v-if="attack.number>1">{{ attack.number }}x</span></strong>{{ displayAttackList[index] }}
      </li>
    </ul>
    {% endverbatim %}
  </fieldset>
  <fieldset name="defenses">
    <legend>Armor Class</legend>
    {% verbatim %}Armor Class: {{ armorClass }}<br>Armor Check Penalty: {{ 0 - armorPenalty }}{% endverbatim %}
    <hr>
    <label>Natural armor <input type="number" name="natural_armor" size="2" v-show="monsterType!='ooze'" v-model="naturalArmor"></label><br>
    <label>Magic deflection bonus <input type="number" name="deflection_bonus" size="2" v-model="deflectionBonus"></label><br>
    <label for="manufactured_armor">Armor </label>
    <select id="manufactured_armor" name="manufactured_armor" v-model="manufacturedArmor" @change="armorCalculations">
      <option value="none">None</option>
      <optgroup label="Light Armor">
        {% for armor in light_armor %}
          <option value="{{  armor.name }}">{{ armor.name|title }} ({{  armor.armor_bonus }})</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Medium Armor">
        {% for armor in medium_armor %}
          <option value="{{  armor.name }}">{{ armor.name|title }} ({{  armor.armor_bonus }})</option>
        {% endfor %}
      </optgroup>
      <optgroup label="Heavy Armor">
        {% for armor in heavy_armor %}
          <option value="{{  armor.name }}">{{ armor.name|title }} ({{  armor.armor_bonus }})</option>
        {% endfor %}
      </optgroup>
    </select>
    <br>
    <label for="worn_shield">Shield </label>
    <select id="worn_shield" v-model="wornShield" @change="armorCalculations">
      <option value="none">None</option>
      {% for shield in shields %}
        <option value="{{ shield.name }}">{{ shield.name|title }} ({{ shield.armor_bonus }})</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset name="special_abilities">
    <legend>Special Abilities</legend>
    <label for="special-name">Name</label>:
    <input type="text" id="special-name" v-model="specialAbility">
    <br>
    <label>Select Preset: </label>
    <select v-model="specialPreset" @change="presetSpecialAbility">
      {% for ability in special %}
        <option value="{{ ability.name|title }}">{{ ability.name|title }}</option>
      {% endfor %}
    </select>
    <br>
    <label><input type="radio" value="Extraordinary" name="special-type" v-model="specialType">Extraordinary</label>
    <label><input type="radio" value="Spell-like" name="special-type" v-model="specialType">Spell-like</label>
    <label><input type="radio" value="Supernatural" name="special-type" v-model="specialType">Supernatural</label>
    <br>
    <label for="special-description">Description</label>:
    <br>
    <textarea id="special-description" rows="5" cols="50" v-model="specialDescription"></textarea>
    <br>
    <label for="special-category">Category </label>
    <input type="text" id="special-category" list="category-list" v-model="specialCategory">
    <br>
    <label for="special-statblock"> In statblock </label>
    <input type="text" id="special-statblock" size="50" v-model="specialStatblock">
    <datalist id="category-list">
      <option value="aura">
      <option value="sense">
      <option value="attack">
      <option value="quality">
      <option value="immunity">
      <option value="resistance">
      <option value="vulnerability">
      <option value="damage reduction">
    </datalist>
    <br>
    <button @click.prevent="addSpecialAbility">Add Special Ability</button>
    <hr>
    {% verbatim %}
    <ul>
      <li v-for="(ability, index) in specialAbilities">
        <button @click.prevent="deleteSpecialAbility(index, 'fromUser')">Delete</button><button @click.prevent="editSpecialAbility(index, 'fromUser')">Edit</button>
        <b>{{ ability.special_name }} ({{ ability.special_type[0] + ability.special_type[1] }})</span></b>: {{ displaySpecialAbilitiesList[index].description }} 
        <span v-if="ability.statblock">(In statblock {{ ability.category }}: {{ displaySpecialAbilitiesList[index].statblock }}.)</span>
      </li>
      <li v-for="(ability, index) in monsterTypeSpecialAbilities">
        <button @click.prevent="deleteSpecialAbility(index, 'fromType')">Delete</button><button @click.prevent="editSpecialAbility(index, 'fromType')">Edit</button>
        <b>{{ ability.special_name }}</b>: {{ ability.description }}
        <span v-if="ability.statblock">(In statblock {{ ability.category }}: {{ ability.statblock }}.)</span>
      </li>
    </ul>
    {% endverbatim %}
  </fieldset>
  <fieldset name="spells_and_psionics">
    <legend>Spell-Like Abilities and Psionic Powers</legend>
    <label for="spell_name">Spell or Power Name </label>
    <input type="text" id="spell_name" v-model="spellName">
    <br>
    <label for="spell-attack-dc">Attack </label>
    <select id="spell-attack-dc" onmouseover="this.setAttribute('size', '3')" onmouseout="this.setAttribute('size', '1')" size="1" multiple v-model="spellAttack">
      <option value="melee">Melee touch attack</option>
      <option value="ranged">Ranged touch attack</option>
      <option value="savingthrow">Saving Throw</option>
    </select>
    <br>
    <label for="spell-range">Range </label>
    <select id="spell-range" v-model="spellRange">
      <option value="none" selected>None</option>
      <option value="persional">Personal</option>
      <option value="touch">Touch</option>
      <option value="close">Close</option>
      <option value="medium">Medium</option>
      <option value="long">Long</option>
      <option value="unlimited">Unlimited</option>
      <option value="custom">Custom</option>
    </select>
    <label for="custom-range" v-show="spellRange=='custom'">Custom Range <input type="number" id="custom-range" size="2" step="5" v-model="customSpellRange"></label>
    <br>
    <label for="spell-level">Spell Level <input type="number" id="spell-level" size="2" v-model="spellLevel"></label>
    <br>
    <label for="spell-school">Spell School </label>
    <select id="spell-school" v-model="spellSchool">
      <option value="none" disabled>School</option>
      <option value="abjuration">Abjuration</option>
      <option value="conjuration">Conjuration</option>
      <option value="divination">Divination</option>
      <option value="enchantment">Enchantment</option>
      <option value="evocation">Evocation</option>
      <option value="illusion">Illusion</option>
      <option value="necromancy">Necromancy</option>
      <option value="transmutation">Transmutation</option>
    </select>
    <br>
    <label for="spell-detail">Spell Detail <input type="text" id="spell-detail" list="spell-detail-list" v-model="spellDetail"></label>
    <datalist id="spell-detail-list">
      <option value="self only">
      <option value="self plus 50 pounds of objects only">
      <option value="1 hour">
      <option value="30 ft. radius">
      <option value="as spell except">
    </datalist>
    <br>
    <label for="caster-level">As a <input type="number" id="caster-level" size="2" v-model="casterLevel"> level </label> 
    <label for="caster-ability">
    <select id="caster-ability" v-model="casterAbility">
      <option disabled value="none">Ability</option>
      <option value="INT">Intelligence</option>
      <option value="WIS">Wisdom</option>
      <option value="CHA">Charisma</option>
    </select>-based magic user.</label>
    <br>
    <button @click.prevent="addSpell('atWill')">At will</button>
    <button @click.prevent="addSpell('thriceDay')">3 per day</button>
    <button @click.prevent="addSpell('onceDay')">1 per day</button>
    <button @click.prevent="addSpell('onceWeek')">1 per week</button>
    <button @click.prevent="addSpell('psionics')">Psionics</button>
    <hr>
    {% verbatim %}
    <b>Spells (Sp)</b>
    <ul>
    <!-- TODO: note that these don't automatically update -->
      <li>At Will—<span v-for="(spell, index) in spellsAtWill">
        <i @click="deleteSpell('atWill', index)">{{ spell.name }}</i>
        <span v-if="spell.melee"> {{ addModifierSign(spell.melee) }} melee touch</span>
        <span v-if="spell.ranged"> {{ addModifierSign(spell.ranged) }} ranged touch</span>
        <span v-if="spell.saving_throw"> (DC {{ spell.saving_throw }})</span>
        <span v-if="spell.detail"> ({{ spell.detail }})</span>, </span>
      </li>
      <li>3 per day—<span v-for="(spell, index) in spellsThricePerDay">
        <i @click="deleteSpell('thriceDay', index)">{{ spell.name }}</i>
        <span v-if="spell.melee"> {{ addModifierSign(spell.melee) }} melee touch</span>
        <span v-if="spell.ranged"> {{ addModifierSign(spell.ranged) }} ranged touch</span>
        <span v-if="spell.saving_throw"> (DC {{ spell.saving_throw }})</span>
        <span v-if="spell.detail"> ({{ spell.detail }})</span>, </span>
      </li>
      <li @click="deleteSpell('onceDay', index)">1 per day—<span v-for="(spell, index) in spellsOncePerDay">
        <i>{{ spell.name }}</i>
        <span v-if="spell.melee"> {{ addModifierSign(spell.melee) }} melee touch</span>
        <span v-if="spell.ranged"> {{ addModifierSign(spell.ranged) }} ranged touch</span>
        <span v-if="spell.saving_throw"> (DC {{ spell.saving_throw }})</span>
        <span v-if="spell.detail"> ({{ spell.detail }})</span>, </span>
      </li>
      <li @click="deleteSpell('onceWeek', index)">1 per week—<span v-for="(spell, index) in spellsOncePerWeek">
        <i>{{ spell.name }}</i>
        <span v-if="spell.melee"> {{ addModifierSign(spell.melee) }} melee touch</span>
        <span v-if="spell.ranged"> {{ addModifierSign(spell.ranged) }} ranged touch</span>
        <span v-if="spell.saving_throw"> (DC {{ spell.saving_throw }})</span>
        <span v-if="spell.detail"> ({{ spell.detail }})</span>, </span>
      </li>
    </ul>
    <b>Psionics (Sp)</b>
    <ul>
      <li>At Will—<i v-for="(power, index) in psionicPowers" @click="deleteSpell('psionics', index)">{{ power }}, </i></li>
    </ul>
    {% endverbatim %} 
  </fieldset>
  <!-- TODO: multiple choice climate + terrain -->
  <fieldset name="secondary_statistics">
    <legend>Secondary Statistics</legend>
    <label for="climate">Climate</label><br>
    <select id="climate" name="climate">
    <!--onmouseover="this.setAttribute('size', '3')" onmouseout="this.setAttribute('size', '1')" size="1" multiple-->
      <option value="all">All</option>
      <option value="cold">Cold</option>
      <option value="temperate">Temperate</option>
      <option value="warm">Warm</option>
    </select>
    <br>
    <label for="terrain">Terrain</label><br>
    <select id="terrain" name="terrain">
    <!--onmouseover="this.setAttribute('size', '4')" onmouseout="this.setAttribute('size', '1')" size="1" multiple-->
      <option value="any">Any</option>
      <option value="aquatic">Aquatic</option>
      <option value="deserts">Deserts</option>
      <option value="forests">Forests</option>
      <option value="hills">Hills</option>
      <option value="marshes">Marshes</option>
      <option value="mountains">Mountains</option>
      <option value="plains">Plains</option>
      <option value="underground">Underground</option>
    </select>
    <br>
    <label for="plane">Plane</label><br>
    <input type="text" id="plane" name="plane"><br>
    <label for="organization">Organization</label><br>
    <input type="text" id="organization" name="organization"><br>
    <label for="alignment">Alignment</label><br>
    <input type="text" id="alignment" name="alignment"><br>
    <label for="advancement">Advancement</label><br>
    <input type="text" id="advancement" name="advancement">
  </fieldset>
  <fieldset name="description">
    <legend>Description</legend>
    <label for="physical-description">Appearance</label><br>
    <textarea id="physical-description" name="monster_appearance" rows="5" cols="50"></textarea><br>
    <label for="monster-description">Other</label><br>
    <textarea id="monster-description" name="monster_description" rows="5" cols="50"></textarea>
  </fieldset>
  <template>
    <input type="number" name="bonus_hp" :value="bonusHitPoints">
    <input type="text" name="skills" :value="skillList">
    <!-- skill_name: str, modifier: str, detail: str, ranks: int, racial_bonus: int, feat_bonus: int, size_modifier: int, synergy_bonus: int -->
    <input type="text" name="feats" :value="featList">
    <input type="text" name="attacks" :value="attackList">
    <input type="text" name="special_abilities" :value="allSpecialAbilities">
    <input type="text" name="spells_at_will" :value="spellsAtWill">
    <input type="text" name="spells_once_per_day" :value="spellsOncePerDay">
    <input type="text" name="spells_thrice_per_day" :value="spellsThricePerDay">
    <input type="text" name="spells_once_per_week" :value="spellsOncePerWeek">
    <input type="text" name="psionic_powers" :value="psionicPowers">
  </template>
</form>
</div>
<script>
  function commaToDot(txt) {
    var str = txt + '';
    const parts = str.split(",");
    return parts[0] + '.' + parts[1];
  }
  function weaponInformation(selectedWeapon) {
    let weaponInfo = {};
    switch (selectedWeapon) {
      {% for weapon in melee_weapons %}
        case '{{ weapon.name }}':
          weaponInfo.weaponSize = '{{ weapon.display_size }}';
          weaponInfo.attackForm = '{{ weapon.atk_form }}';
          weaponInfo.weaponDamage = '{{ weapon.damage }}';
          weaponInfo.critRange = {{ weapon.crit_range }};
          weaponInfo.critDouble = '{{ weapon.crit_double }}';
          weaponInfo.rangeIncrement = {{ weapon.range_increment }};
          weaponInfo.weaponReach = '{{ weapon.reach }}';
          break;
      {% endfor %}
      {% for weapon in ranged_weapons %}
        case '{{ weapon.name }}':
          weaponInfo.weaponSize = '{{ weapon.display_size }}';
          weaponInfo.attackForm = '{{ weapon.atk_form }}';
          weaponInfo.weaponDamage = '{{ weapon.damage }}';
          weaponInfo.critRange = {{ weapon.crit_range }};
          weaponInfo.critDouble = '{{ weapon.crit_double }}';
          weaponInfo.rangeIncrement = {{ weapon.range_increment }};
          break;
      {% endfor %}
    }
    return weaponInfo;
  }
  function armorInformation(selectedArmor) {
    armorInfo = {};
    switch(selectedArmor) {
      {% for armor in light_armor %}
        case '{{ armor.name }}':
          armorInfo.armorBonus = {{ armor.armor_bonus }};
          armorInfo.armorPenalty = {{ armor.armor_penalty }};
          armorInfo.maxDexBonus = {{ armor.max_dex }};
          break;
      {% endfor %}
      {% for armor in medium_armor %}
        case '{{ armor.name }}':
          armorInfo.armorBonus = {{ armor.armor_bonus }};
          armorInfo.armorPenalty = {{ armor.armor_penalty }};
          armorInfo.maxDexBonus = {{ armor.max_dex }};
          break;
      {% endfor %}
      {% for armor in heavy_armor %}
        case '{{ armor.name }}':
          armorInfo.armorBonus = {{ armor.armor_bonus }};
          armorInfo.armorPenalty = {{ armor.armor_penalty }};
          armorInfo.maxDexBonus = {{ armor.max_dex }};
          break;
      {% endfor %}
    }
    return armorInfo;
  }
  function shieldInformation(selectedShield) {
    shieldInfo = {};
    switch(selectedShield) {
      {% for shield in shields %}
        case '{{ shield.name }}':
          shieldInfo.armorBonus = {{ shield.armor_bonus }};
          shieldInfo.armorPenalty = {{ shield.armor_penalty }};
          break;
      {% endfor %}
    }
    return shieldInfo;
  }
  {% comment %} Autoescape to prevent special symbols from getting turned into ampersand code {% endcomment %}
  {% autoescape off %}
  function monsterTypeCharacteristics(assignedType) {
    // commaToDot function, because Django outputs decimal dot as a decimal comma, which JavaScript interprets as an array.
    switch(assignedType) {
    {% for monstertype in monstertypes %}
      case '{{ monstertype.name }}':
        return {
          hdType: {{ monstertype.hd_type }},
          fortitudeQuality: '{{ monstertype.fortitude }}',
          reflexQuality: '{{ monstertype.reflex }}',
          willQuality: '{{ monstertype.will }}',
          typeBaseSkillPoints: {{ monstertype.base_skill_points }},
          typeSkillPoints: {{ monstertype.skill_points }},
          typeBaseNumberOfFeats: {{ monstertype.base_number_of_feats }},
          typeNumberOfFeats: {{ monstertype.number_of_feats }},
          atkAs: commaToDot('{{ monstertype.atk_as }}'),
          specialAbilities: {{ monstertype.monster_special_abilities }},
          };
        break;
    {% endfor %}
      default:
         return {};
    }
    // Here we add a list to typeCharacteristics
    // This list contains special abilities that should be added to the monster
    return typeCharacteristics;
  }
  function specialInformation(preset, monsterName) {
    let specialInfo = {};
    switch(preset) {
      {% for ability in special %}
        case '{{ ability.name }}':
          return {
            description: `{{ ability.description }}`,
            statblock: `{{ ability.shorthand }}`,
            category: '{{ ability.category }}',
          };
          break;
      {% endfor %}
      default:
        return {};
    }
  }
  function skillSynergyInformation(selectedSkill) {
    {% spaceless %}
    switch(selectedSkill) {
      {% for skill in skills %}
        {% if skill.synergy.values|length > 0 %}
          case '{{ skill.name }}':
            return [{% for synergy in skill.synergy.values %}{{synergy}}, {% endfor %}];
            break;
        {% endif %}
        {% if skill.name == 'Heal' %}
          case 'Profession (herbalist)':
            return [{ 'name': '{{ skill.name }}', 'modifier': '{{ skill.modifier }}'}];
            break;
        {% endif %}
      {% endfor %}
      default:
        return [];
    }
    {% endspaceless %}
  }
  function featInformation(selectedFeat) {
    let featInfo = {};
    switch (selectedFeat) {
      {% for feat in feats %}
        case '{{ feat.name }}':
          if ('{{ feat.prerequisite }}' == 'None') {
            featInfo.prerequisites = [];
          }
          else {
            featInfo.prerequisites = {{ feat.prerequisite }};
          }
          featInfo.has_detail = {{ feat.has_detail|lower }};
          break;
      {% endfor %}
    }
    return featInfo;
  }
  {% endautoescape %}
  app.mount('#app');
</script>
{% endblock %}
